<div class="card m-3">
  <a href="<%= image_path image %>">
    <img class="card-image-top" src="<%= image.url %>" alt="Card image cap">
    <div class="card-body">
      <p class="card-text text-dark"><%= image.name %></p>
    </div>
  </a>
</div>

