<h1 id="header">Welcome to the Fantastic Image Sharester</h1>

<div class="notice"> <%= flash[:notice] %></div>

<p>Site under construction, please come back later</p>

<%= link_to 'Add new Image', new_image_path  %>
